<!DOCTYPE html>
<html>
  <head>
    <title>Hello world!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello world!</h1>
    <p>Welcome to <%= title %></p>
    <p>https://formicae.tistory.com</p>
  </body>
</html>
